# Dependencies
node_modules/

# Build output
.next/
out/
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Lock files
package-lock.json

# OS files
.DS_Store
Thumbs.db
